@font-face {
  font-family: "iconfont"; /* Project id 4116022 */
  src: url('iconfont.woff2?t=1686481384033') format('woff2'),
       url('iconfont.woff?t=1686481384033') format('woff'),
       url('iconfont.ttf?t=1686481384033') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-icon:before {
  content: "\e64b";
}

.icon-biaoqing:before {
  content: "\e618";
}

.icon-tuichu:before {
  content: "\e629";
}

